<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
<br />
	<p>Splurty was built by <a target="_blank" href="https://github.com/janellias">Janel</a>, a student at <a target="_blank" href="http://www.thefirehoseproject.com/">The FirehoseProject</a>.</p>

	<p> Janel is just learning how to code, but The Firehose Project has taught her to build her first web app - this one! - in just a few days. In true Jersey Girl fashion, Janel dedicated her first app to exploring all that is great about New Jersey.</p>

	<p> If you want to learn to code like Janel, start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.

<br />
<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'janel.png', class: 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Janel Stedtler</h2>
		<br />
		<p>
			Janel Stedtler is an aspiring web developer. During the day, Janel works for an education franchise, where she was thrown on the project that first piqued her interest in coding. In her free time, Janel enjoys watching soccer and K-Dramas. 
		</p>
	</div>
</div>

<br class="clear />"
<br />
<br />
<br />
<br />
